<!DOCTYPE html>
<html data-theme="night" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Joey's Full Stack Portfolio</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.0/dist/full.css" rel="stylesheet" type="text/css" />
        <meta property="og:image" content="/assets/webImage.png" />
        <meta property="og:description" content="Joey Bennett's full stack portfolio." />
        <link href="/css/style.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="navbar bg-neutral fixed top-0 w-100 z-50">
            <div class="flex-1">
                <a href="#top" class="btn btn-ghost normal-case text-xl">joey bennett</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal p-0">
                <li><a href="/api/project" target="_blank">Projects API</a></li>
                <li><a href="/assets/joeybennett_resume.pdf" target="_blank">Resume</a></li>
                </ul>
            </div>
        </div>
        {{{ body }}}
        <footer class="footer items-center p-4 bg-neutral text-neutral-content">
            <div class="items-center grid-flow-col">
                <p>Copyright © 2022 - All right reserved</p>
            </div> 
            <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
            </div>
        </footer>
    </body>
</html>