body {
    background-color: var(--bgColor);
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 6.5rem; 
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }